/* Global page styles
------------------------------------------ */
body {
  font-family: 'Noto Sans JP';
  margin: 0;
  padding: 0;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

/* Header Section
------------------------------------------ */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  color: #fff;
  height: 63px;
  width: 100%;
  margin: 0 auto;
}

@media(min-width: 768px){
  .header {
    padding: 0 8.4vw;
    height: 115px;
  }
}

.header__logo-link {
  text-decoration: none;
  color: #fff;
}

.header__logo-image {
  width: 58.5%;
  height: auto;
  vertical-align: unset;
  padding-bottom: 2px;
}

@media(min-width: 768px){
  .header__logo-image {
    width: 50%;
  }
}

.hamburger-menu {
  width: 100%;
  /* height: 32.6875rem; */
  background-color: #0079F2;
  box-shadow: 0 0 .625rem 0 rgb(0 0 0 / 20%);
  transition: opacity .3s linear;
  border-radius: 2rem;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 78px;
}

@media (min-width: 768px) {
  .hamburger-menu {
    width: unset;
    height: auto;
    opacity: 1;
    visibility: unset;
    background-color: unset;
    box-shadow: unset;
    position: static;
    margin-top: 0px;
  }
}

.hamburger-menu-active {
  opacity: 1;
  visibility: visible;
}

.hamburger-menu-list {
  padding: 28px 10px 0px 10px;
  list-style: none;
  font-size: 1.125rem;
  font-weight: 700;
  display: grid;
  gap: 3px;
}

.hamburger-menu-list li {
  list-style: none;
  display: grid;
  place-items: center;
  line-height: 3.4375rem;
}

@media (min-width: 768px) {
  .hamburger-menu-list {
    font-size: 16px;
    display: flex;
    padding: unset;
    padding-left: 0px;
    padding-right: 10px;
    gap: 35px;
    position: relative;
    padding-right: 0px;
  }
}

@media (min-width: 768px) {
  .hamburger-menu-list li {
    place-items: unset;
    padding: unset;
    line-height: 1;
    flex: none;
  }
}

.hamburger-menu .button-pink {
  padding-top: 10px;
}

.hamburger-button {
  background-color: #000;
  width: 2.5rem;
  height: 0.125rem;
  position: relative;
  margin-top: 0.0313rem;
}

.hamburger-button::before,
.hamburger-button::after {
  content: '';
  width: 1.5rem;
  height: 0.125rem;
  background-color: #000;
  position: absolute;
  left: 0;
}

.hamburger-button::before {
  top: -0.4375rem;
}

.hamburger-button::after {
  top: 0.4375rem;
}

@media (min-width: 768px) {
  .hamburger-button {
    display: none;
  }
}

.hamburger-button i {
  line-height: 0;
}

@media (min-width: 768px) {
  .header-nav a:hover {
    color: #ec6a00;
  }
}

/* Cover Section
------------------------------------------ */
.cover {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media(min-width: 768px){
  .cover{
    padding-top: 30px;
  }
}

.cover__content{
  display: flex;
  flex-direction: column;
}

@media(min-width: 768px){
  .cover__content{
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: left;
    /* margin: 0 auto; */
    margin-top: 13px;
    margin-bottom: 21px;
    padding-left: 3.333vw;
    letter-spacing: -1px;
    gap: 17px;
  }
}

.cover__title {
  width: calc(100% - 7vw);
  text-align: left;
  font-size: 19px;
  font-weight: 700;
  margin: auto;
  margin-top: 13px;
  margin-bottom: 20px;
}

@media(min-width: 768px){
  .cover__title{
    width: 60%;
    position: relative;
    justify-content: flex-end;
    display: flex;
    font-size: 27px;
    letter-spacing: -0.503px;
    margin-top: 0px;
    padding-right: 1.1vw;
    padding-bottom: 8.002px;
  }
}

.cover__title h2{
  /* width: calc(100% - 32px); */
}

@media(min-width: 768px){
  .cover__text{
    margin-bottom: auto;
    margin-top: 4px;
  }
}

.cover__text p{
  width: calc(100% - 8vw);
  text-align: left;
  font-size: 15px;
  line-height: 25px;
  margin: 0 auto;
  margin-bottom: 0.208vw;
}

@media(min-width: 768px){
  .cover__text p{
    width: calc(100% - 14vw);
    font-size: 16px;
    padding-right: 3.5vw;
    padding-left: 0px;
    line-height: 26px;
  }
}

.cover__image {
  width: 100%;
  width: calc(100% - 4vw);
  height: auto;
  margin-top: 14px;
  margin-bottom: 24px;
}

@media(min-width: 768px){
  .cover__image {
    width: calc(100% - 8.5vw);
    margin-top: 17px;
    margin-bottom: 29px;
  }
}

/* About Section
------------------------------------------ */
.about{
  margin: 0 auto;
  text-align: center;
}

@media(min-width: 1210px){
  .about{
    width: calc(100% - 25vw);
    margin-bottom: 60px;
  }
}

.about__logo {
  width: 100%;
  font-size: 17px;
  font-weight: 700;
  color: #168352;
  margin-bottom: 2px;
}

@media(min-width: 1210px){
  .about__logo {
    font-size: 1.528vw;
    margin-bottom: 5px;
  }
}

.about__title {
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 18px;
}

@media(min-width: 1210px){
  .about__title {
    font-size: 28px;
    margin-bottom: 25px;
  }
}


@media(min-width: 1210px){
  .about__content{
    display: flex;
    flex-direction: row;
  }
}

.about__backImg {
  background-image: url(../image/top/about_us_sp.png);
  background-size: cover;
  margin: 0 auto;
  text-align: left;
  padding-top: 32px;
  padding-bottom: 30px;
}

@media(min-width: 1210px){
  .about__backImg {
    background-image: unset;
    width: calc(100% - 25vw);
    min-width: 50%;
    padding: 2.222vw 2.083vw 2.083vw 0.139vw;
  }
}

.about__textArea {
  width: calc(100% - 2.083vw);
  border-radius: 35px 35px;
  background-color: white;
  padding: 16px 1.736vw;
  font-size: 18px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: 0px;
  position: relative;
  flex-direction: column;
  margin: 0 auto;
}

@media(min-width: 1210px){
  .about__textArea {
    padding: 4.861vw 1.736vw 4.861vw 1.736vw;
    font-size: 20px;
    line-height: 34px;
  }
}

.about__text{
  font-size: 15px;
  padding-top: 9px;
  line-height: 26.3px;
}

@media(min-width: 1210px){
  .about__text{
    padding-top: 26px;
  }
}

.about__textTitle .res{
  display: none;
}

@media(min-width: 1210px){
  .about__textTitle .res{
    display: inline;
  }
}

.about__content picture {
  display: none;
}

@media(min-width: 1210px){
  .about__content picture {
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
    display: unset;
  }
}


.about__image {
  width: 100%;
  height: auto;
  display: none;
}

@media(min-width: 1210px){
  .about__image {
    width: calc(100% - 9.5vw);
    margin-right: 28px;
    position: relative;
    height: auto;
    display: unset;
    left: 27px;
  }
}

/* Features Section
------------------------------------------ */
.features {
  /* width: calc(100% - 32px); */
  margin: 0 auto;
  /* margin-top: 50px; */
  background-color: aqua;
  padding-bottom: 55px;
}

.features__logo {
  width: 100%;
  font-size: 17px;
  font-weight: 700;
  color: #168352;
  margin-bottom: 2px;
  text-align: center;
  padding-top: 50px;
}

@media(min-width: 1200px){
  .features__logo {
    font-size: 1.528vw;
    margin-bottom: 5px;
    padding-top: 26px;
  }
}

.features__title {
  width: 100%;
  font-size: 19.5px;
  font-weight: 700;
  margin-bottom: 20px;
  text-align: center;
  padding-left: 5px;
}

@media(min-width: 1200px){
  .features__title {
    font-size: 28px;
    letter-spacing: -1px;
    padding-left: 0.208vw;
    padding-bottom: 7px;
  }
}

.features__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: calc(100% - 32px);
  margin: 0 auto;
}

@media(min-width: 1200px){
  .features__list {
    flex-direction: row;
    justify-content: center;
    gap: 27px;
  }
}

.features__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(min-width: 1200px){
  .features__item {
    flex-wrap: wrap;
  }
}

.features__image {
  width: 100%;
  max-width: 370px;
  height: auto;
}

.features__description {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 5px;
  border-radius: 0px 0px 25px 25px;
  background-color: white;
  display: flex;
  position: relative;
  justify-content: center;
  text-align: left;
  padding: 14px 17px 15px 17px;
  line-height: 29px;
}

@media(min-width: 1200px){
  .features__description{
    justify-content: flex-start;
    text-align: left;
    padding: 14px 17px 15px 19px;
    line-height: 29px;
    width: 370px;
    font-size: 19px;
  }
}

/* Service Section
------------------------------------------ */
.service {
  width: calc(100% - 32px);
  margin: 0 auto;
  height: 1085px;
}

.service__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (min-width: 768px) {
  .service__list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .service__item {
    width: 48%;
  }
}

/* Case Section
------------------------------------------ */
.case {
  width: calc(100% - 32px);
  margin: 0 auto;
  height: 1007px;
  text-align: center;
}

.case__image {
  width: 100%;
  max-width: 358px;
  height: auto;
  margin-bottom: 16px;
}

.case__description {
  margin-bottom: 16px;
}

/* News Section
------------------------------------------ */
.news {
  width: calc(100% - 32px);
  margin: 0 auto;
  height: 945px;
  text-align: center;
}

.news__list {
  list-style: none;
  padding: 0;
}

.news__item {
  margin-bottom: 8px;
}

.news__more {
  display: inline-block;
  margin-top: 16px;
  text-decoration: none;
  color: #168352;
}

/* Footer Section
------------------------------------------ */
.footer {
  margin: 0 auto;
  height: 68px;
  background-color: #168352;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  gap: 5px;
}

@media(min-width: 768px){
  .footer{
    height: 95px;
    font-size: 14px;
    letter-spacing: 1px;
  }
}

.footer-img{
  transform: rotate(90deg);
  width: 25px;
  height: auto;
}

@media(min-width: 768px){
  .footer__text{
    position: relative;
    left: 6px;
  }
}